@keyframes slideYIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

main#CTYunPCKeepAlive {
  .desktop {
    gap: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 20px 16px;
    background-color: #fff;
    border-radius: 12px;
    animation: slideYIn 0.3s ease-in;

    &-name {
      font-size: 14px;
      font-weight: 500;
      line-height: 24px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    &-code {
      font-size: 10px;
      font-weight: 350;
      line-height: 16px;
    }
  }
}
