#dialog-point .frame-header + main {
  flex: 1;
  overflow: hidden;
}

main#CTYunPCKeepAlive {
  .desktop-list {
    padding: 12px;
    width: 100%;
    height: 100%;
    background-image: url("https://deskcdn.ctyun.cn/pccdnstatic/imgs/bg1-mobile.3bef36be575f72b41962.png");

    .desktop + .desktop {
      margin-top: 12px;
    }
  }
}
